openapi: 3.0.3
info:
  title: 탑마케팅 API 문서
  description: |
    탑마케팅 플랫폼의 RESTful API 문서입니다.

    ## 인증 방식
    - **JWT 토큰**: `Authorization: Bearer <token>`
    - **세션 쿠키**: 자동 로그인 상태 확인

    ## 응답 형식
    모든 API는 JSON 형식으로 응답하며, 다음과 같은 구조를 가집니다:
    ```json
    {
      "status": "success|error",
      "data": {},
      "message": "응답 메시지",
      "timestamp": "2025-01-01T00:00:00Z"
    }
    ```

  version: 4.0.6
  contact:
    name: 탑마케팅 개발팀
    email: dev@topmktx.com

servers:
  - url: https://www.topmktx.com/api
    description: 프로덕션 서버
  - url: http://localhost/api
    description: 개발 서버

security:
  - bearerAuth: []
  - cookieAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: PHPSESSID

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          description: 사용자 ID
        nickname:
          type: string
          description: 닉네임
        email:
          type: string
          format: email
        role:
          type: string
          enum: [ROLE_USER, ROLE_CORPORATE, ROLE_ADMIN]
        status:
          type: string
          enum: [active, inactive, suspended]

    Lecture:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        category:
          type: string
        start_date:
          type: string
          format: date-time
        status:
          type: string
        user_id:
          type: integer

    Error:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
        code:
          type: integer
        details:
          type: object

paths:
  /auth/login:
    post:
      summary: 사용자 로그인
      description: 이메일과 비밀번호로 로그인합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
                remember:
                  type: boolean
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      token:
                        type: string
        '401':
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      summary: 로그아웃
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        '200':
          description: 로그아웃 성공

  /lectures:
    get:
      summary: 강의 목록 조회
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: category
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 강의 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  lectures:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lecture'
                  pagination:
                    type: object

  /lectures/{id}:
    get:
      summary: 강의 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 강의 상세 정보
        '404':
          description: 강의를 찾을 수 없음

  /lectures:
    post:
      summary: 강의 생성
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - category
                - start_date
              properties:
                title:
                  type: string
                description:
                  type: string
                category:
                  type: string
                start_date:
                  type: string
                  format: date-time
      responses:
        '201':
          description: 강의 생성 성공
        '400':
          description: 잘못된 요청
        '401':
          description: 인증 필요

  /lectures/{id}:
    put:
      summary: 강의 수정
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                category:
                  type: string
                start_date:
                  type: string
                  format: date-time
      responses:
        '200':
          description: 강의 수정 성공
        '403':
          description: 수정 권한 없음
        '404':
          description: 강의를 찾을 수 없음

  /lectures/{id}/registrations:
    post:
      summary: 강의 신청
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: 신청 성공
        '400':
          description: 이미 신청됨
        '404':
          description: 강의를 찾을 수 없음

  /users/me:
    get:
      summary: 현재 사용자 정보 조회
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        '200':
          description: 사용자 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: 인증 필요

  /users/{id}:
    get:
      summary: 사용자 프로필 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 사용자 프로필
        '404':
          description: 사용자를 찾을 수 없음

  /notifications:
    get:
      summary: 알림 목록 조회
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 50
      responses:
        '200':
          description: 알림 목록

  /notifications/{id}/read:
    put:
      summary: 알림 읽음 표시
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 읽음 표시 완료

  /admin/users:
    get:
      summary: 사용자 관리 (관리자 전용)
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 사용자 목록
        '403':
          description: 관리자 권한 필요

  /health:
    get:
      summary: 시스템 헬스체크
      responses:
        '200':
          description: 시스템 정상
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  database:
                    type: boolean
                  redis:
                    type: boolean
                  timestamp:
                    type: string
